{% extends 'main.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/form.css"/>
    <link rel="stylesheet" href="/static/labels.css"/>
{% endblock %}
{% block body %}
        <div class="col-9">
            <div class="col-9">
                <ul class="labelList">
                    <li class="bold">Twoje etykiety:</li>
                    {% for label in load_labels() %}
                    <li>
                        <div class='labelDiv'>
                            <div class='row'>
                                <div class='col-6'>Adresat: {{label["name"]}}</div>
                                <div class='col-4'>Paczkomat: {{label["deliverto"]}}</div>
                                <div class='col-2'>Rozmiar: {{label["size"]}}</div>
                            </div>
                            <div class='row'>
                                <div class='col-10'>ID: {{label["uid"]}}</div>
                                <div class='col-2'>
                                    <form action="{{url_for('delete_label', labelID = label['key'])}}" method='POST'>
                                    <input type='submit' value='Usuń'/></form>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-3">
                <form id="addLabelForm" action="{{url_for('new_label', _external=True)}}" method="POST">
                <ul>
                    <li class="bold">Dodaj etykietę:</li>
                    {% for mesg in get_flashed_messages() %}
                    <li class="flashMessage">{{ mesg }}</li>
                    {% endfor %}
                    <li>Podaj nazwę adresata:</li>
                    <li><input type="text" name="name" id="nameField" class="formInputWhite"/></li>
                    <li>Wybierz skrytkę docelową:</li>
                    <li>
                        <select  name="address" id="addressField" class="formInputWhite">
                            {% for ID in get_delivery_points() %}
                            <option value="{{ ID }}">{{ ID }}</option>
                            {% endfor %}
                        </select>  
                    </li>
                    <li>Wybierz rozmiar paczki:</li>
                    <li id="sizeSelect" class="formInputInitial">
                        <ul>
                            <li><input type="radio" id="sRadio" name="size" value="S">
                            <label for="S">Mała</label></li>
                            <li><input type="radio" id="mRadio" name="size" value="M">
                            <label for="M">Średnia</label></li>
                            <li><input type="radio" id="lRadio" name="size" value="L">
                            <label for="L">Duża</label></li>
                        </ul>
                    </li>
                    <li><input type="submit" id="submitButton" name="submit" value="Dodaj"/></li>
                </ul>
                </form>
            </div>
        </div>
{% endblock %}