<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="https://well-sent.herokuapp.com/">
    {% block head %}{% endblock%}
</head>
<body>
    <header class="row">
        <div class="col-3" id="logoBox">
            <picture>
                <img src="{{url_for('static', filename='images/logo.svg')}}">
            </picture>
        </div>
        <div class="col-9">
            <div id="companyName">WellSent</div>
            <div id="hidablePresentation">Tylko u nas gwarancja dostarczenia do stu dni!</div>
            <div id="nameplate">Dawid Rawski</div>
        </div>
    </header>
    <div class="row">
        <div class="col-3">
            <nav id="navbar">
                <li><a href="/" id="homepageNav">Strona główna</a></li>
                <li><a href="/sender/sign-up" id="senderSignupNav">Rejestracja</a></li>
            </nav>
        </div>
    {% block body %}{% endblock %}
    </div>
    <footer>
        <div class="moreImportantFooterPart">2020 | <a href="https://github.com/Ainheg/MobilneXInternetowe"> Repozytorium </a></div>
        <div class="lessImportantFooterPart">Well icon made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div class="lessImportantFooterPart">Package icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></div>
    </footer>
</body>